<div class="hero">
  <h3 class="text-center hero-intro">Create and share markdown wikis</h3>
  <p class="text-center"><%= link_to "Sign up", new_user_registration_path, class: "hero-button" %></p>
</div>
<div class="row">
  <div class="col-md-6">
    <h4 class="text-center">Create as many public wikis as you want!</h4>
  </div>
  <div class="col-md-6">
    <h4 class="text-center">Create both public and private wikis!</h4>
  </div>
</div>
