<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Blocipedia: Social, Markdown Wikis</h1>
    <% if user_signed_in? %>
      <%= render partial: 'signed_in_user' %>
    <% else %>
      <%= render partial: 'guest' %>
    <% end %>
  </div>
</div>
