/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.a, body > div > a {
  color: #9d9d9d;
}

.a:hover, body > div > a:hover {
  color: #000;
  text-decoration: none;
}

.button {
  color: #000;
  background: #fff;
  margin: 10px 0;
  padding: 10px 20px;
  border: solid #000 2px;
  text-decoration: none;
}

.button:hover {
  -webkit-box-shadow: 3px 3px 0px #000;
  -moz-box-shadow: 3px 3px 0px #000;
  box-shadow: 3px 3px 0px #000;
  text-decoration: none;
  color: #000;
}

.button-form {
  font-size: small;
  color: #000;
  background: #fff;
  margin: 10px 0;
  padding: 5px 10px;
  border: solid #000 2px;
  text-decoration: none;
}

.button-form:hover {
  -webkit-box-shadow: 3px 3px 0px #000;
  -moz-box-shadow: 3px 3px 0px #000;
  box-shadow: 3px 3px 0px #000;
  text-decoration: none;
  color: #000;
}
