// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkbox {
  margin-left: 20px !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f0f0f0 !important;
}

.collaborators_list {
  margin-top: 10px;
}

form.collaborator {
  display: inline-block;
  margin: 0 5px 10px 0;
}
